/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 6, 2022, 4:27:22 PM
    Author     : wellinton
*/

*{
    font-family: 'Roboto', sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.dropdown-item {
    cursor: pointer;
}