/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 9, 2022, 8:41:58 PM
    Author     : wellinton
*/
@import url("main.css");

.footer {
    height: 100px;
    background-color: var(--corPrimaria);
    color: var(--corQuinaria);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

