/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 9, 2022, 9:06:18 PM
    Author     : wellinton
*/
:root {
    --corPrimaria: #2d2d29;
    --corSecundaria: #215a6d;
    --corTerciaria: #3ca2a2;
    --corQuaternaria: #92c7a3;
    --corQuinaria: #dfece6;
}

.container-fluid {
    max-width: 100%;
    padding: 0;
    margin: 0;
}